html,
body { 
  background: #180F4A;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppkorn";
  src: url("/typefaces/PoppkornRegular-MzKY.ttf");
}
@font-face {
  font-family: "Exo2-reg";
  src: url("/typefaces/Exo2-Regular.otf");
}
@font-face {
  font-family: "Exo2-eb";
  src: url("/typefaces/Exo2-ExtraBold.otf");
}
@font-face {
  font-family: "Exo2-lit";
  src: url("/typefaces/Exo2-Light.otf");
}
@font-face {
  font-family: "Exo2-med";
  src: url("/typefaces/Exo2-Medium.otf");
}
@font-face {
  font-family: "Exo2-el";
  src: url("/typefaces/Exo2-ExtraLight.otf");
}

#scrolling {
  scrollbar-width: thin;
  scrollbar-color: rgba(255,255,255,0.1) #050216;
}

#scrolling::-webkit-scrollbar {
  width: 52px;
}
#scrolling::-webkit-scrollbar-track {
  background: #050216;
}
#scrolling::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.05);
  border-radius: 20px;
  border: 24px solid #050216;
}

@media only screen and (max-width: 1002px) {
  #scrolling::-webkit-scrollbar {
    display: none;
  }

  #scrolling {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
  }
}